<nav class="navbar bg-secondary mb-5">
  <div class="container test-white justify-content-center">
      <h1 class="header-title" routerLink="pokemons" style="color:rgb(255, 255, 255)">Pokédex</h1>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- Image de pokemeon -->
<!-- <img [src]="imageSrc()" [alt]="name()">

<h2>{{ name() }}</h2>
<p>Taille : {{ size() }}</p>
<p>Points de vie: {{ life() }}</p> -->

<!-- @if(life() < 30) {
  <button (click)="incrementLife()">+</button>
} @if(life() > 10) {
  <button (click)="decrementLife()">-</button>
} -->
<!-- <button (click)="decrementLife()" [disabled]="life() < 11">-</button>
<button (click)="incrementLife()" [disabled]="life() > 29">+</button>
 -->

<!-- <h1>Valeur actuelle du compteur : {{ counter() }}</h1>
<h1>Doublede la valeur acctuelle : {{ doubleCounter() }}</h1>
<button (click)="increment()">Incrémenter</button>
<button (click)="reset()">Reset</button> -->
